<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="HelpDeskSystem.Web.styles.css" />
    @* Esta línea es VITAL para que se vean los iconos del nuevo menú *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    @* BORRADA LA LÍNEA DE APEXCHARTS QUE SOBRABA AQUÍ *@
    <script>
        window.descargarArchivo = (nombreArchivo, contenidoBase64) => {
            const link = document.createElement("a");
            link.href = "data:application/octet-stream;base64," + contenidoBase64;
            link.download = nombreArchivo;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>
</body>

</html>